*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
/*box 1*/
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url('amazon_logo.png');
    height: 50px;
    width: 100%;
    background-size: cover;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
/*box 2*/
.add-icon{
    display: flex;
}
.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    padding-left: 15px;
}
.add-second{
    font-size: 1rem;
    padding-left: 3px;
}
/*box 3*/
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    height: 40px;
    width: 620px;
    border-radius: 4px;
}
.search-select{
    border: none;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    text-align: center;
    background-color: #f3f3f3;
    width: 50px;
}
.search-input{
    width: 100%;
    border: none;
    font-size: 1rem;
}
.search-icon{
    width: 45px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #febd68;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    color: #0f1111;
}
.nav-search:hover{
    border: 3px solid #febd68;
}
/*box 4*/
.nav-flag{
    display: flex;
    align-items: center;
    height: 50px;
    width: 75px;
}
.flag img{
    background-size: contain;
    height: 20px;
    width: 25px;
}
.flag-name{
    background-color: #0f1111;
    color: white;
    font-size: 0.85rem;
    border: none;
    font-weight: 600;
}
/*box 5*/
span{
    font-size: 0.7rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}
/*box 7*/
.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}
/*navbar panel*/
.panel{
    height: 40px;
    display: flex;
    background-color: #222f3d;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-ops p{
    display: inline;
    margin-left: 12px;
}
.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}
.panel-deals{
    font-size: 0.95rem;
    font-weight: 700;
}
/*Hero section*/
.hero-section{
    width: 100%;
    position: relative;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: linear-gradient(transparent, #fff);
}
.hero-section img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero-msg{
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 95%;
    margin-bottom: 25px;
    z-index: 1;
}
.hero-msg a{
    color: #007185;
}
/*Shop section*/
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    height: 100%;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}
.box-img{
    padding: 0px 20px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-img img{
    height: 300px;
    width: 310px;
    background-size: contain;
    background-position: center;
}
.box-content{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content h2{
    padding: 0px 20px;
}
.box-content p{
    color: #007185;
    padding: 0px 20px;
}
/*Footer section*/
footer{
    margin-top: 20px;
}
.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}
.foot-panel3{
    background-color: #222f3d;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    background-image: url('amazon_logo.png');
    height: 50px;
    width: 100px;
    background-size: cover;
}
.foot-panel4{
    background-color: #0f1111;
    color: white;
    height: 75px;
    font-size: 0.75rem;
    text-align: center;
}
.pages{
    padding-top: 25px;
}
.copyright{
    padding-top: 5px;
}