*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
/*box 1*/
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url('amazon_logo.png');
    height: 50px;
    width: 100%;
    background-size: cover;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
/*box 2*/
.add-icon{
    display: flex;
}
.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    padding-left: 15px;
}
.add-second{
    font-size: 1rem;
    padding-left: 3px;
}
/*box 3*/
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    height: 40px;
    width: 620px;
    border-radius: 4px;
}
.search-select{
    border: none;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    text-align: center;
    background-color: #f3f3f3;
    width: 50px;
}
.search-input{
    width: 100%;
    border: none;
    font-size: 1rem;
}
.search-icon{
    width: 45px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #febd68;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    color: #0f1111;
}
.nav-search:hover{
    border: 3px solid #febd68;
}
/*box 4*/
.nav-flag{
    display: flex;
    align-items: center;
    height: 50px;
    width: 75px;
}
.flag img{
    background-size: contain;
    height: 20px;
    width: 25px;
}
.flag-name{
    background-color: #0f1111;
    color: white;
    font-size: 0.85rem;
    border: none;
    font-weight: 600;
}
/*box 5*/
span{
    font-size: 0.7rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}
/*box 7*/
.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}